In [8]:
import pandas as pd
file_path='/content/student_performance.csv'
df=pd.read_csv(file_path)


new_rows = {
    "Student Name": "kabir", "Student ID": "11", "Subject":"Art", "Score":"83", "Attendence Percentage": "99"
     }
new_df=pd.DataFrame([new_rows])
df=pd.concat([df, new_df], ignore_index=True)
print(df)

   Student Name Student ID  Subject Score Attendence Percentage  \
0         Rahim          1     Math    90                    96
1         Karim          2  Science    88                    82
2         Salam          3     Math    76                    75
3         Kamal          4  English    85                    93
4         Jamal          5   Bangla    82                    90
5         Rafiq          6  Science    94                    95
6        Shafiq          7  Science    79                    87
7        Rahima          8     Math    95                    91
8        Karima          9  English    88                    76
9        Jamila         10   Bangla    73                    89
10        kabir         11      Art    83                    99

   Assignment completion
0                    yes
1                    yes
2                     no
3                    yes
4                    yes
5                     no
6                    yes
7                    yes
8                     no
9                    yes
10                   NaN

In [11]:
df.to_csv('students_performance_new.csv', index=False)
print(df)

   Student Name Student ID  Subject Score Attendence Percentage  \
0         Rahim          1     Math    90                    96
1         Karim          2  Science    88                    82
2         Salam          3     Math    76                    75
3         Kamal          4  English    85                    93
4         Jamal          5   Bangla    82                    90
5         Rafiq          6  Science    94                    95
6        Shafiq          7  Science    79                    87
7        Rahima          8     Math    95                    91
8        Karima          9  English    88                    76
9        Jamila         10   Bangla    73                    89
10        kabir         11      Art    83                    99

   Assignment completion
0                    yes
1                    yes
2                     no
3                    yes
4                    yes
5                     no
6                    yes
7                    yes
8                     no
9                    yes
10                   NaN